@model List<Infokiosk.Models.SportsFacility>
@{
    ViewBag.Title = "SportsFacilities";
    var list = Model.OrderBy(x => x.Category.Id).GroupBy(x => x.Category.Name);
    string path = "";
    int k = 0;
}


<div class="row">
    @foreach (IGrouping<string, Infokiosk.Models.SportsFacility> group in list)
    {

        <div class="col-sm-6 item-card">
            @*<div class="item-card">*@
                <h2 class="text-center">@group.Key</h2>
                <div id="carousel-example-generic-@k" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        @for (int i = 1; i < group.Count(); i++)
                        {
                            <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
                        }
                    </ol>

                    <!-- Wrapper for slides -->

                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            @try { path = group.First().Images.First().Filename; }
                            catch (Exception) { path = @"/Content/Media/1.jpg"; }

                            <a href="/Home/SportsFacilityDescription/@group.First().Id"><img src="@path" class="center-block"></a>
                            <div class="carousel-caption">
                                <h3>@group.First().Name</h3>
                            </div>
                        </div>
                        @foreach (var item in group.Skip(1))
                        {
                            <div class="item">
                                @try { path = item.Images.First().Filename; }
                                catch (Exception) { path = @"/Content/Media/1.jpg"; }

                                <a href="/Home/SportsFacilityDescription/@item.Id"><img src="@path" class="center-block" /></a>
                                <div class="carousel-caption">
                                    <h3>@item.Name</h3>
                                </div>
                            </div>
                        }

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic-@k" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic-@k" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        @*</div>*@

        k++;
    }
</div>

<script type="text/javascript" src="~/Scripts/CardScript.js"></script>
