@model List<Infokiosk.Models.KindOfSport>
@{
    ViewBag.Title = "KindsOfSports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 class="text-center">Виды спорта</h1>


<div class="col-sm-6">
    <h2>Добавление вида спорта</h2>
    <form method="post" class="form-horizontal" role="form" action="/Admin/AddKindOfSport" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name" class="col-xs-4 control-label">Вид спорта:</label>
            <input type="text" name="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="description" class="col-xs-4 control-label">Файл с описанием:</label>
            <input type="file" class="form-control" name="description" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" class="btn btn-success" value="Добавить" />
            </div>
        </div>
    </form>
</div>

<div class="col-md-6">
    <h2>Форма изменения вида спорта</h2>
    <form method="post" class="form-horizontal" role="form" action="/Admin/ChangeKindOfSport" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id" class="col-xs-4 control-label">Вид спорта:</label>
            <select class="selectpicker form-control" name="id">
                @foreach (var m in Model)
                {
                    <option value="@m.Id">@m.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="name" class="col-xs-4 control-label">Вид спорта:</label>
            <input type="text" name="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="description" class="col-xs-4 control-label">Файл с описанием:</label>
            <input type="file" class="form-control" name="description" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" class="btn btn-default" value="Отправить" />
            </div>
        </div>
    </form>
</div>

<div class="col-sm-6">
    <h2>Удаление вида спорта</h2>
    <form method="get" class="form-horizontal" role="form" action="/Admin/DeleteKindOfSport">
        <div class="form-group">
            <label for="id" class="col-xs-4 control-label">Вид спорта:</label>
            <select class="selectpicker form-control" name="id">
                <option value="">Выберите вид спорта</option>
                @foreach (var x in @Model)
            {
                    <option value="@x.Id">@x.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" class="btn btn-danger" value="Удалить" />
            </div>
        </div>
    </form>
</div>


<div class="col-sm-6">
    <h2>Загрузка изображений</h2>
    <form action="/Admin/UploadImagesKindOfSport" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id" class="col-xs-4 control-label">Вид спорта:</label>
            <select class="selectpicker form-control" name="id">
                <option value="">Выберите вид спорта</option>
                @foreach (var x in Model)
            {
                    <option value="@x.">@x.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="uploads" class="col-xs-4 control-label">Файлы:</label>
            <input type="file" class="form-control" name="uploads" multiple />
        </div>
        <div class="col-md-offset-3 col-md-10">
            <button id="submit-all" class="btn btn-success">Добавить изображения</button>
        </div>
    </form>
</div>